* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
	word-wrap: break-word;
}

body {
	background: #061161;
	background-image: url('../img/Bg.jpg');
	background-size: cover;
}
.note {
	color: #d68710;
	text-align: center;
}

.container {
	color: white;
	max-width: 1400px;
	margin: 0 auto;
	/* height: 100; */
}
.container .drums {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 20rem;
	justify-content: center;
}
.container .drums .pad {
	width: 30%;
	height: 100%;
}

.container .drums .box {
	border: 4px solid #1d1b1b;
	border-radius: 10px;
	background: #0a091385;

	display: flex;
	flex-direction: column;

	height: 50%;

	transition: all 0.09s;
	text-align: center;
	width: 100%;
}

.container .drums .box .letter {
	font-size: 4em;
}

.container .drums .box .description {
	color: #d68710;
	font-size: 1.8em;
	font-weight: bold;
	/* letter-spacing: 4px; */
}

.playing {
	transform: scale(1.1);
	border-color: #d68710;
	background: #d68710;
	box-shadow: 0 0 10px #d68710;
}

#A::after {
	content: 'CLAP';
}
#S::after {
	content: 'HIHAT';
}
#D::after {
	content: 'KICK';
}
#F::after {
	content: 'OPENHAT';
}
#G::after {
	content: 'BOOM';
}
#H::after {
	content: 'RIDE';
}
#J::after {
	content: 'SNARE';
}
#K::after {
	content: 'TOM';
}
#L::after {
	content: 'TINK ';
}

/* Responsive design */

@media only screen and (max-width: 600px) {
	body {
		width: 100%;
	}
	.drums {
		width: 100%;
		padding: 0;
		flex-direction: row;
		align-content: center;
	}
	.drums .pad {
		/* background: rgb(151, 17, 17); */
		height: 30%;
		width: 25%;
		margin: 0;
		padding: 0;
	}

	.drums .pad .box {
		padding: 0;
	}
	.drums .pad .box .description {
		letter-spacing: 0;
	}
}

@media only screen and (max-width: 300px) {
	.drums .pad .box {
		padding-bottom: 5px;
		height: 35%;
		margin-bottom: 20px;
	}

	.drums .pad .box .letter {
		font-size: 2.5em;
	}
	.drums .pad .box .description {
		font-size: 1em;
	}
}
@media only screen and (max-height: 300px) {
	body{
		width: 100%;
		height: 100%;
	}


	.drums .pad .box {
		padding-bottom: 1px;
		height: 33%;
		/* margin-bottom: 20px; */
	}

	.drums .pad .box .letter {
		font-size: 2.5em;
	}

	.drums .pad .box .description {
		font-size: 1em;
	}
}
